.main-action-button {
  width: 10vmin;
  height: 10vmin;
  font-size: 5vmin;
  border-radius: 250px;
  background-color: olivedrab;
  color: white;
  position: fixed;
  bottom: 10vh;
  right: 5vw;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
